#Add this to .env file
APP_URL=http://localhost:3000
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=kristiguin26556@gmail.com
EMAIL_SMTP_PASS=ebghyznnnnkcmcbh
EMAIL_FROM=SAIV <kristiguin26556@gmail.com>